################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment_1/.vs/Assignment_1/v16
/Assignment_2/.vs/Assignment_2/v16
/Assignment_3/.vs/Assignment_3/v16/ipch/AutoPCH/d635e66a7666e360
/Assignment_3/.vs/Assignment_3/v16/ipch/AutoPCH/d1bcdc7a82dfa1fa
/Assignment_3/.vs/Assignment_3/v16/ipch/AutoPCH/144c14f835a02ac5
/Assignment_3/.vs/Assignment_3/v16
